.entry-content,
.entry-content .ql-snow .ql-editor {
  font-size: 16px;
  font-family: "Epilogue", "Monserrat", sans-serif;
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    margin-bottom: 15px;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  p {
    margin-bottom: 30px;
    line-height: 2;
    font-size: 18px;
  }
  ul {
    list-style-type: disc;
    margin-left: 40px;
  }
  ol {
    list-style-type: decimal;
    margin-left: 40px;
  }
  ul,
  ol {
    margin-bottom: 20px;
    li {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  figure {
    margin-bottom: 20px;
  }
  img {
    border-radius: 20px;
    margin-bottom: 10px;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color: #6b6b6b;
  }
  @media screen and (max-width: 1023.98px) {
    font-size: 14px;
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
}
