@import "./reset";
@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}
.grid-layout {
  display: grid;
  grid-auto-columns: 235px;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 48px;
  }
  @media screen and (max-width: 1023.98px) {
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  & > * {
    scroll-snap-align: start;
  }
  &--primary {
    grid-auto-columns: 220px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
.home-block {
  padding-bottom: 40px;
  @media screen and (min-width: 1024px) {
    padding-bottom: 60px;
  }
}
